@import 'animate.css';
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto-Regular", sans-serif; 
  background: rgba(242,246,248,1);
  background: -moz-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
  background: -webkit-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
  background: linear-gradient(135deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
  background-size: cover;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
#slideArea {
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
}
.box {
  width: 100%;
  position: relative;
  flex: 0 0 25%;
  max-width: 25%;
  display: inline-block;
  margin: 0;
  padding: 5px;
  height: calc(100vh / 3 - 27px);
}
.main-content .card {
  height: 100%;
  color: #fff;
  text-align: center;
  border: 1px solid #5596fc;
  background: rgb(53,183,234);
  background: -moz-radial-gradient(center, ellipse cover, rgba(53,183,234,1) 23%, rgba(7,73,255,1) 99%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(53,183,234,1) 23%,rgba(7,73,255,1) 99%);
  background: radial-gradient(ellipse at center, rgba(53,183,234,1) 23%,rgba(7,73,255,1) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35b7ea', endColorstr='#0749ff',GradientType=1 );
  -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.4)!important;
     -moz-box-shadow: 0 15px 30px rgba(0,0,0,.4)!important;
          box-shadow: 0 15px 30px rgba(0,0,0,.4)!important;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.card-image {
  width: 4rem;
  height: 4rem;
  margin: 1rem auto;
  display: inline-block;
  overflow: hidden;
}
.card-image img {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  padding: .2rem;
  background-color: rgba(255,255,255,.4);
}
.card-body {
  padding: .5rem;
  background: rgb(68,130,204);
  background: -moz-radial-gradient(center, ellipse cover, rgba(68,130,204,1) 0%, rgba(37,37,165,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(68,130,204,1) 0%,rgba(37,37,165,1) 100%);
  background: radial-gradient(ellipse at center, rgba(68,130,204,1) 0%,rgba(37,37,165,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4482cc', endColorstr='#2525a5',GradientType=1 );
  -webkit-border-radius: 0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
}
.card-body h3 {
  font-size: 1.5rem;
  margin: 0;
  text-shadow: 0 2px 1px rgba(0,0,0,.75);
}
.other-data {
  font-size: 1rem;
  letter-spacing: 0px;
  text-shadow: 0 1px 1px rgba(0,0,0,1);
}
.other-data div {
  margin: .1rem;
}
.card-image,
.card-image img {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
#button-trigger {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9;
}
.video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .box {
    flex: unset;
    max-width: 100%;
  }
}

@media screen and (min-height: 801px){
  .card-image {
    width: 80%;
    height: 50%;
  }
  .card-image img {
  }
  .card-body {
    padding: 20px;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  .card-image {
    width: 50%;
    height: 50%;
  }
}

@media (min-aspect-ratio: 4 / 3) {
  .card-image {
    width: 38%;
    height: 50%;
  }
}
@media screen and (max-height: 768px){
  #slideArea {
    height: 100vh;
  }
  .box {
    height: calc(100vh / 3);
  }
  .card-image {
    width: 4rem;
    height: 4rem;
  }
}
